/**************************************
        REGOLE GENERALI
***************************************/

body {
        font-family: 'PT Sans', sans-serif;
}

.dash::before,
.dash::after {
    content: '';
    height: 3px;
    width: 10vw;
    background-color: currentColor;
    max-width: 100px;
    display: inline-block;
    vertical-align: middle;
}
    
/* RESET */
ul, ol {
        list-style: none;
}
    
a {
        text-decoration: none;
        color: currentColor
}
    
button {
        border: none;
        background-color: transparent;
}
    
img {
        max-width: 100%;
}

/* ROOT */
:root {
        --my-dark-color: #3A546D;
        --my-light-color: #1ABC9C;
        --my-darkest-color: #2C3E50;
}

.bg-my-dark {
        background-color: var(--my-dark-color);
}

.bg-my-light {
        background-color: var(--my-light-color);
}

.bg-my-darkest {
        background-color: var(--my-darkest-color);
}

.text-my-light {
        color: var(--my-light-color);
}

/**************************************
        HEADER
***************************************/
.nav-list {
        display: none;
}

.nav-bars {
        cursor: pointer;
        font-size: 1.2rem;
        color: gray;
}

.fa-bars {
        border: 1px solid gray;
        padding: 2px 8px 2px 8px;
        border-radius: 4px;
}

/**************************************
        MAIN
***************************************/
.image-avatar {
        width: 250px
}


/**************************************
        FOOTER
***************************************/


/**************************************
        MEDIAQUERY
***************************************/
@media (min-width: 768px) {

        /* HEADER */
.nav-list {
        display: block;
}
    
.nav-bars {
        display: none;
}
}